<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<head>
<title>Reset Password</title>
  <link rel="stylesheet" type="text/css" href="ResetPassword.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  </head>
  
<header>
<div style="text-align:center;background-color:#333;color:#FFF">A-Prime Tuition Center</div>
</header>

<body>
<div class="navbar">
<br />
  <a href="LogIn.php">Log In</a>

 
  <a href="SignUpUser.php">Sign Up</a>
   
  <a href="#Call">Call</a><img src="Call.PNG" width="76" height="22" />
  

  <a >+88 02 9292162</a>   
  
 <div style="float:right">
  <a href="http://google.com"><img src="Gmail.PNG" width="76" height="32" />  
    
  </div> 
  
   <div style="float:right">
  <a href="https://twitter.com"><img src="../Twitter.PNG" width="76" height="32"/>  
    
  </div> 
  <div style="float:right">
  <a href="https://www.facebook.com"><img src="Facebook.PNG" width="76" height="32"/> 
    
  </div> 
</div>




<section>	
		<nav>
		<!--<div style="padding: 20px 15px">-->

		<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','aprime.png',1)"><img src=		"aprime.png" width="276" height="165" id="Image5" /></a>
		<!--</div>-->
    </nav>
    <nav>
     <p style="color:black;font-size:30px">A-Prime Tuition Center</p>
    </nav>
    
    <nav style="color:black;">
     <form action="">
	 Search:<br>
	 <input type="text" name="Search">
     </form>
    </nav>
  
    <nav style="float:right;text-align:center;">
            <div style="background-color: white;padding: 20px">
  				<a href="#home">Home</a>
  				<a href="#event">Event</a>
  				<a href="#contact">Contact</a>
  				<a href="#view">View</a>
                <a href="#help">Help</a>
			</div>
     </nav>
</section>
<p style="color: #4682B4;text-align:center;font-size:50px">Reset Password</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<form>
  <label style="color:black; for="Email Address">Email Address*</label>
  <input type="text" id="Email" name="Email">
  <p style="padding: 0px 100px;color:black">Your new password will be send to your email</p>

  
</form>
<p style="padding: 0px 70px">
  <input type="button" class="button" value="Submit" />
</p>
<br />
<br />
<br />

<footer>
  <div>
  <p>A-Prime Tuition Center</p>
</footer>
</body>
</html>